// STYLES
@import "@styles/global.scss";

#contact {
  @include main(
    column,
    center,
    center,
    rgba(255, 0, 212, 0.3),
    rgba(0, 255, 255, 0.3)
  );
  position: relative;
  gap: 25px;

  h1 {
    font-size: 1.5rem;
  }

  #mail,
  #git,
  #linkedIn {
    transition: all 0.15s ease;
    &:hover {
      cursor: pointer;
    }
    &:active {
      transform: scale(1.03);
    }
  }

  #mail span,
  #git span,
  #linkedIn span {
    color: crimson;
  }

  .socialM {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;

    p:first-child {
      font-size: 1.2rem;
    }
  }

  .message {
    text-align: center;
  }

  #copied {
    position: absolute;
    top: 10%;
    right: 5%;
    font-size: 1.5rem;
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s ease;
  }
}

// DARK MODE
#contact.darkC {
  @include main(
    column,
    center,
    space-evenly,
    rgba(33, 3, 255, 0.3),
    rgba(204, 0, 255, 0.3)
  );
  color: white;

  #mail span,
  #git span,
  #linkedIn span {
    color: violet;
  }

  #copied {
    background-color: black;
  }
}
