@import "./global.scss";

#gallery {
  @include main(
    row,
    center,
    space-evenly,
    rgba(255, 0, 212, 0.3),
    rgba(0, 255, 255, 0.3)
  );

  section {
    display: flex;
    position: relative;
    justify-content: center;

    .centralImage {
      height: 85vh;
      width: 85vh;
      object-fit: cover;
      border-radius: 15px;
      box-shadow: 5px 5px 15px rgba($color: #000000, $alpha: 0.5);
      animation-name: fade_in;
      animation-duration: 2s;
      animation-timing-function: ease-in;
    }

    #back,
    #forward {
      all: unset;
      position: absolute;
      width: 10%;
      height: 10%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 10;

      &:hover img {
        transform: scale(1.2);
      }

      img {
        width: 100%;
        height: 100%;
        transition: 0.25s ease;
      }
    }

    #back {
      top: 45%;
      left: 5%;
    }
    #forward {
      top: 45%;
      right: 5%;
      transform: rotate(180deg);
    }
  }
}

// ANIMATION
@keyframes fade_in {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
}
