// FONT IMPORTS
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Girassol&display=swap");

// font-family: "Staatliches", sans-serif;
// font-family: "PT Serif", serif;
// font-family: "Girassol", serif;

// MIXINS
@mixin main($x, $y, $z, $k, $l) {
  min-height: 85vh;
  width: 90%;
  margin: 20px auto 20px auto;
  background-color: rgba($color: #fff, $alpha: 0.3);
  padding: 15px;
  border-radius: 50px 15px 15px 15px;
  display: flex;
  flex-direction: $x;
  align-items: $y;
  justify-content: $z;
  background-image: linear-gradient(63.5deg, $k 25%, $l 75%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 25px;
  font-family: "Staatliches", sans-serif;
}

html {
  background-image: url("@images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

body,
#root {
  height: 100%;
}
