main {
  height: 85%;
  width: 90%;
  margin: 20px auto 20px auto;
  background-color: rgba($color: #fff, $alpha: 0.6);
  padding: 15px;
  border-radius: 50px 15px 15px 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  #avatar {
    width: 40%;
    height: 80%;
    border-radius: 50%;
  }
}
