// STYLES
@import "@styles/global.scss";

#home {
  @include main(row,center,space-evenly);

  .homeLeft {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    .message {
      all: unset;
      position: absolute;
      background-color: white;
      padding: 5px;
      border-radius: 0 10px 10px 10px;
      left: 55%;
      top: 52%;
      opacity: 0;
      user-select: none;
      transition: all 0.25s ease;

      &:hover {
        transform: scale(1.05);
        cursor: pointer;
      }
    }

    &:hover .message {
      opacity: 1;
    }

    #bckImg {
      height: 90%;
      border-radius: 50%;
    }
  }

  .homeRight {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    text-align: center;

    p {
      font-size: 1em;
      animation-duration: 0.5s;
      animation-iteration-count: 1;
    }

    p:first-of-type {
      animation-name: fly-in-left;
    }

    p:nth-of-type(2) {
      animation-name: fly-in-right;
      animation-delay: 0.15s;
    }

    p::first-letter {
      font-size: 1.5em;
    }

    p:last-of-type {
      color: blue;
      font-size: 0.8em;
      font-family: "Girassol", serif;
      animation-name: fly-in-left;
      animation-delay: 0.3s;
    }
  }
}

// ANIMATION
@keyframes fly-in-left {
  from {
    transform: translateX(-500px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fly-in-right {
  from {
    transform: translateX(500px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
