// STYLES
@import "@styles/global.scss";

#skills {
  @include main(
    column,
    center,
    space-evenly,
    rgba(255, 0, 212, 0.3),
    rgba(0, 255, 255, 0.3)
  );
  align-self: start;
  gap: 15px;

  h1 {
    font-size: 1.5rem;
  }

  .hardSkills {
    margin-bottom: 15px;
  }

  .hardSkills,
  .softSkills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;

    .gridElemH,
    .gridElemS {
      display: flex;
      align-items: center;
      gap: 15px;

      .img {
        width: 200px;
        height: 200px;
      }
    }
  }

  .hardSkills {
    .gridElemH {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right;
    }

    .gridElemH.h0 {
      background-image: url("@svg/react.svg");
    }

    .gridElemH.h1 {
      background-image: url("@svg/js.svg");
    }

    .gridElemH.h2 {
      background-image: url("@svg/html.svg");
    }

    .gridElemH.h3 {
      background-image: url("@svg/css.svg");
    }

    .gridElemH.h4 {
      background-image: url("@svg/sass.svg");
    }

    .gridElemH.h5 {
      background-image: url("@svg/canva.svg");
    }

    .gridElemH.h6 {
      background-image: url("@svg/photoshop.svg");
    }

    .gridElemH.h7 {
      background-image: url("@svg/seo.svg");
    }
  }

  .softSkills {
    .gridElemS {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right;
    }

    .gridElemS.s0 {
      background-image: url("@svg/communication.svg");
    }

    .gridElemS.s1 {
      background-image: url("@svg/team.svg");
    }

    .gridElemS.s2 {
      background-image: url("@svg/problem-solver.svg");
    }

    .gridElemS.s3 {
      background-image: url("@svg/learn.svg");
    }

    .gridElemS.s4 {
      background-image: url("@svg/butterfly.svg");
    }
  }
}

// DARK MODE
#skills.darkS {
  @include main(
    column,
    center,
    space-evenly,
    rgba(33, 3, 255, 0.3),
    rgba(204, 0, 255, 0.3)
  );
  color: white;
}
